/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --c-primary: rgba(240, 233, 245, 0.9);
    --c-primary-bg: rgba(100, 12, 78, 0.7);
    --c-primary-shadow: rgba(73, 8, 57, 0.5);
}

body {
    padding-bottom: 100px;
}

.stat {
    background-color: var(--c-primary-bg);
    color: var(--c-primary);
    text-align: center;
    margin: 0 .5em;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 3px 3px 2px 2px var(--c-primary-shadow);
}

.stat:hover {
    box-shadow: -3px -3px 2px 2px rgba(20, 20, 20, .3)
}

.stat-value {
    font-size: 150%;
    margin-top: 1em;
    text-shadow: 2px 2px rgba(255, 255, 255, .2);
}

.stat-title {
    font-weight: bold;
    color: white;
}

.table {
    width: 95%;
}

select.long {
    width: 100%;
}

tr.fit {
    background-color: chartreuse;
}

tr.unfit {
    background-color: sienna;
}

div#pagination li {
    border: gray solid 1px;
    padding: 0 6px;
}

div#pagination li a {
    color: rgb(0, 38, 255);
    text-decoration: none;
}

div#pagination nav {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.frm-error {
    color: red;
    font-size: .8em;
}

.frm-label {
    font-size: 1.2em;
}

.frm-field {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.frm-select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.frm-button {
    padding: 10px 15px;
    margin: 10px 0 0 10px;
    width: auto;
}

/* Timetable */
.tt-head {
    background-color: #f1f1f1;
    font-weight: bold;
}

.tt-head-lesson {
    width: 10%;
}

.tt-head-day {
    width: 18%;
}

.tt-data-teacher {
    font-size: .8em;
}

.tt-data-classrooom {
    font-size: .8em;
    text-align: right;
}

td.available {
    background-color: green;
}

td.unavailable {
    background-color: red;
}

footer {
    background-color: black;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    color: rgba(200, 200, 200, .9);
    margin-top: 2em;
    position: fixed;
    bottom: 37px;
}